---
import "../styles/global.css"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume</title>
  </head>
  <body class="bg-[#212121] text-stone-300">
<nav class="">
      <a href="#experience-header">About Me</a>
      <a href="#skills-header">Skills</a>
      <a href="#experience-header">Experience</a>
      <a href="#projects-header">Projects</a>
      <a href="#contact-header">Contact</a>
      <a href="#resume-header">Traditional Resume</a>
    </nav>
    <div class="container intro">
      <p>Hi! I'm Jackson Gleeson</p>
      <p>Welcome to my personal site and resume. I'm a Systems Administrator and aspiring Cloud Engineer based in Melbourne</p>
      <p>I enjoy building and automating systems to streamline my day-to-day.</p>
    </div>  
</html>
